{% extends 'base.html.twig' %}

{% block title %}CommentReplies index{% endblock %}

{% block body %}
    <h1>CommentReplies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>Reactions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment_reply in comment_replies %}
            <tr>
                <td>{{ comment_reply.id }}</td>
                <td>{{ comment_reply.content }}</td>
                <td>{{ comment_reply.updatedAt ? comment_reply.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment_reply.createdAt ? comment_reply.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment_reply.reactions ? comment_reply.reactions|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('comment_replies_show', {'id': comment_reply.id}) }}">show</a>
                    <a href="{{ path('comment_replies_edit', {'id': comment_reply.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_replies_new') }}">Create new</a>
{% endblock %}
