{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12-md">
                <h1>Account:</h1>
                <h3>Username: {{ user.username }}</h3>
                <h3>Email: {{ user.email }}</h3>
                <h3>Change password</h3>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}