
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ group.name }}</h1>
</div>
<div class="row groupItem" data-groupId = {{ group.id }}>
    {%  if group.getPosts()|length > 0 %}
        {% for post in group.getPosts() %}
            <div class="col-md-12 no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative postItem" data-postid="{{ post.id }}">
                <div class="row">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">{{ post.getUser().getFullName() }}</strong>
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-muted">{{ post.createdAt|date('M d H:i') }}</div>
                        <p class="mb-auto">{{ post.content }}</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                    {% if post.getComments()|length > 0 %}
                    <div class="col-md-12 no-gutter comments-list">
                        <div class="page-header">
                            <h1>Comments<small class="float-right">{{ post.getComments()|length }} comments</small></h1>
                        </div>
                        {% for comment in  post.getComments()%}
                        <div class="border-bottom comment" data-commentid="{{ comment.id }}">
                            <div class="media px-4 pt-4">

                                <a class="media-left" href="#">
                                    <img class="rounded-circle" src="http://lorempixel.com/40/40/people/1/">
                                </a>
                                <div class="media-body ml-4">
                                    <h4 class="media-heading user_name">{{ comment.getUser().getFullName() }}</h4>

                                    {{ comment.content }}
                                    <p>
                                        <small>
                                            <a href="" class="likeComment">Like</a> -
                                            <a href="" class="responseLink">Response</a>
                                            <div class="dropdown ">
                                                <a class="dropdown-toggle" data-toggle="dropdown"></a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item commentDelete" data-toggle="modal" data-commentid="{{ comment.id }}" data-target="#deleteCommentModal">
                                                        <i class="fa fa-trash">&nbsp;Delete</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </small>
                                    </p>
                                </div>
                                <p class="float-right"><small>5 days ago</small></p>
                            </div>
                            <div class="col-md-12 form-group commentResponse" >
                                <textarea class="form-control commentField rounded-top rounded-bottom " placeholder="Enter a Comment" ></textarea>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}
                    <div class="col-md-12 input-group postResponse mb-3" role="group">
                        <img class="rounded-circle" src="http://lorempixel.com/40/40/people/1/">
                        <textarea class="form-control commentField rounded-top rounded-bottom" placeholder="Enter a Comment" ></textarea>
                    </div>
                </div>

            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">NO POSTS</strong>
                    <h3 class="mb-0">NO POSTS EXAMPLE OF NO POST TEMPLATE</h3>
                    <div class="mb-1 text-muted">0000-00-00</div>
                    <p class="mb-auto">NO POSTS</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="modal" id="deleteCommentModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Comment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Are you sure you want to delete this comment?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



