{% extends 'base.html.twig' %}

{% block title %}
Home Page
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 col-sm-12 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Groups</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        {% for group in app.user.getGroupsMember() %}
                            <li class="nav-item">
                                <a class="nav-link active groupViewLink" href="#" data-groupId="{{ group.id }}">
                                    <span data-feather="home"></span>
                                    {{ group.getName() }} <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Own Groups</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        {% for group in app.user.getGroups() %}
                            <li class="nav-item">
                                <a class="nav-link active groupViewLink" href="#" data-groupId="{{ group.id }}">
                                    <span data-feather="home"></span>
                                    {{ group.getName() }} <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Last posts groups which you are member</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {% for post in newestPosts %}
                        <li class="nav-item">
                            <a class="nav-link active lastCommentViewLink" href="#" data-postId="{{ post.getId() }}" data-groupId="{{ post.getGroup().getId() }}">
                                <span data-feather="home"></span>
                                {{ post.getTitle() }} <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>

            <main id="mainView" role="main" class="col-md-8 col-sm-12 ml-sm-auto px-4">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">NEWS PAGE</h1>
                </div>
                <div class="row groupItem">
                        {% for post in posts %}
                            <div data-sort="{{ post.id }}" class="col-md-12 no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative postItem" data-postid="{{ post.id }}">
                                <div class="row">
                                    <div class="col p-4 d-flex flex-column position-static">
                                        <strong class="d-inline-block mb-2 text-success">{{ post.getUser().getFullName() }}</strong>
                                        <h3 class="mb-0">{{ post.title }}</h3>
                                        <div class="mb-1 text-muted">{{ post.createdAt|date('M d H:i') }}</div>
                                        <p class="mb-auto">{{ post.content }}</p>
                                        <a href="#" class="stretched-link">Continue reading</a>
                                    </div>

                                    <div class="col-md-12 no-gutter comments-list">
                                    {% if post.getComments()|length > 0 %}

                                            <div class="page-header">
                                                <h1>Comments<small class="float-right">{{ post.getComments()|length }} comments</small></h1>
                                            </div>
                                            {% for key, comment in post.getComments()%}
                                                <div class="border-bottom comment {% if key >= 2  %}extraComment{% endif %}"
                                                     id="commentid{{ comment.id }}" data-commentid="{{ comment.id }}">
                                                    <div class="media px-4 pt-4">

                                                        <a class="media-left">
                                                            <img class="rounded-circle" src="http://lorempixel.com/40/40/people/1/">
                                                        </a>
                                                        <div class="media-body ml-4">
                                                            <h4 class="media-heading user_name">{{ comment.getUser().getFullName() }}</h4>

                                                            <p class="text-body flex-md-wrap">{{ comment.content }}</p>
                                                            <small class="commentActions">
                                                                {% if comment.isUserLikeComment(app.user) %}
                                                                    <a class="unlikeComment" ><i class="fa fa-thumbs-down"></i></a>
                                                                {% else %}
                                                                    <a class="likeComment"><i class="fa fa-thumbs-up"></i></a>
                                                                {% endif %}
                                                                <b>{{ comment.reactions|length }}</b> -
                                                                <a href="" class="responseLink">Response</a>&nbsp;
                                                            </small>
                                                            {% if comment.user.getId() == app.user.getId() %}
                                                                <div class="dropdown">
                                                                    <a class="dropdown-toggle" data-toggle="dropdown"></a>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item commentDelete" data-toggle="modal" data-commentid="{{ comment.id }}" data-commenttoken="{{ csrf_token('delete' ~ comment.id) }}" data-target="#deleteCommentModal">
                                                                            <i class="fa fa-trash">&nbsp;Delete</i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <p class="float-right"><small>5 days ago</small></p>
                                                    </div>
                                                    <div class="col-md-12 form-group commentResponse" >
                                                        <textarea class="form-control commentField rounded-top rounded-bottom " placeholder="Enter a Comment" ></textarea>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                    {% endif %}
                                    </div>
                                    {% if post.getComments()|length > 2 %}<a href="#" class="showMoreComments" data-action="show">Show More</a> {% endif %}
                                    <div class="col-md-12 input-group postResponse mb-3" role="group">
                                        <img class="rounded-circle" src="http://lorempixel.com/40/40/people/1/">
                                        <textarea class="form-control commentField rounded-top rounded-bottom" placeholder="Enter a Comment" ></textarea>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </main>

            <aside class="col-md-2 bg-light d-md-block" id="asideBarRight">
                <div class="sidebar-sticky">

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted mb-3">
                        <span>Users</span>
                    </h6>

                    <ul class="nav flex-column mb-2" id="usersOnlineSidebar">

                    </ul>
                </div>
            </aside>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('asset/js/postActions.js') }}"></script>
    <script src="{{ asset('asset/js/usersOnline.js') }}"></script>
    <script src="{{ asset('asset/js/liveChat.js') }}"></script>
{% endblock %}