{% extends 'base.html.twig' %}

{% block title %}
Home Page
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 col-sm-12 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Groups</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        {% for group in app.user.getGroupsMember() %}
                            <li class="nav-item">
                                <a class="nav-link active groupViewLink" href="#" data-groupId="{{ group.id }}">
                                    <span data-feather="home"></span>
                                    {{ group.getName() }} <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Own Groups</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        {% for group in app.user.getGroups() %}
                            <li class="nav-item">
                                <a class="nav-link active groupViewLink" href="#" data-groupId="{{ group.id }}">
                                    <span data-feather="home"></span>
                                    {{ group.getName() }} <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Last Posts</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Post 1 - Group 2
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <main id="mainView" role="main" class="col-md-8 col-sm-12 ml-sm-auto px-4">

            </main>

            <aside class="col-md-2 bg-light d-md-block">
                <div class="sidebar-sticky">

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Users Online</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                User 1
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('asset/js/postActions.js') }}"></script>

{% endblock %}