{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Post index</h1>

        <table class="table">
            <thead>
                <tr class="thead-color">
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>Reactions</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr class="{{ cycle(["white", "gray"], loop.index0)}}">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ post.reactions ? post.reactions|json_encode : '' }}</td>
                    <td>
                        <a href="{{ path('post_show', {'id': post.id, 'groupId' : app.request.get('groupId')}) }}"><button class="btn btn-info">Show</button></a>
                        <a href="{{ path('post_edit', {'id': post.id, 'groupId' : app.request.get('groupId')}) }}"><button class="btn btn-info">Edit</button></a>
                        <a href="{{ path('comment_index', {'postId': post.id, 'groupId' : app.request.get('groupId')}) }}"><button class="btn btn-info">Comments</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('post_new', {'groupId' : app.request.get('groupId')}) }}"><button class="btn btn-primary">Create new</button></a>
    </div>
{% endblock %}
